        <footer>

            <div class="footerNavBar">
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
            </div>

            <hr>

            <p>All Rights Reserved <%= new Date().getFullYear() %></p>

            

        </footer>

    </div>

</div>

</body>
</html>