<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;800&family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Blog Page</title>
</head>
<body>

    <div id="page-container">

        <div id="content-wrap">

            <header>
                <nav>
                    <div>
                        <a href="/" style="font-size: 4rem;"><span>Hello World</span> Blog!</a>
                        <div class="links">
                            <a href="/">Home</a>
                            <a href="/about">About</a>
                            <a href="/contact">Contact</a>
                            <a href="/compose">Compose</a>
                        </div>
                    </div>
                </nav>
            </header>