<%- include('partials/header.ejs') %>

<main class="container">
    <h1>About Us</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt lacus id mauris lacinia scelerisque. In volutpat vulputate elit, nec porttitor sem finibus malesuada. Aenean ac urna nisl. Sed facilisis, ex quis pharetra convallis, lacus nisi suscipit libero, ut volutpat leo sapien sed diam. Praesent porta lectus fringilla, feugiat mi quis, semper eros. Morbi quis maximus tortor, sed lacinia nunc. Morbi eu eros egestas, commodo augue ut, malesuada leo. Proin cursus leo lectus. </p>
    <p>Ut blandit, arcu ut tempor rhoncus, nisl nibh pulvinar lectus, eget luctus ipsum nunc in erat. Vestibulum tincidunt cursus pharetra. In porta, quam quis facilisis vestibulum, felis ligula scelerisque nibh, quis vestibulum velit dui convallis leo. Sed ullamcorper augue fermentum mollis mollis. Sed hendrerit quam in mauris facilisis, tincidunt fermentum quam vehicula. Quisque malesuada a tortor vitae condimentum. Morbi malesuada a augue eget consequat. Donec eu ex ac ligula fermentum gravida. Nam et nunc porttitor, porttitor nisi in, mattis velit. Donec quis odio non justo feugiat pulvinar. </p>
</main>

<%- include('partials/footer.ejs') %>